

<!-- Content -->

<div class="container">
  <div class="row justify-content-center mt-5 p-5">

    <div class="col-10 col-sm-6">

      <!-- Start Form -->

      <form class='form p-5 bg-white' [formGroup]='form' name='form' (ngSubmit)='onSubmit()'  novalidate>

        <div class="form-group">
          <label class="label" for="mobileNumber">Mobile Number:</label>
          <input class="form-control" type="number" name='mobileNumber' formControlName='mobileNo'  placeholder="ex: 96656xxxxx" id="mobileNumber"  />
        </div>

        <div class="form-group">
          <label class="label" for="text">Text:</label>
          <textarea name="text" class="form-control" id="text" cols="30" rows="7" formControlName='text'></textarea>
        </div>

        <div class="form-group d-flex">
          <button type="submit" class="btn btn-primary m-auto" [disabled]='form.invalid'>Submit</button>
        </div>

      </form>

      <!-- End Form -->

    </div>

  </div>
</div>
